﻿@helper GetTreeView(List<Template.Models.MenuViewModel> permissions, string childOf)
{
    foreach (var item in permissions.Where(w => w.childOf.Equals(childOf)))
    {
        var active = item.selected ? "active" : string.Empty;
        <li class="nav-item @active">
            @{var child = permissions.Where(w => w.childOf.Equals(item.id)).Count();}
            @if (child > 0)
            {
                <a class="nav-link" data-toggle="collapse" href="#@item.id" aria-expanded="true">
                    <i class="material-icons">@item.icon</i>
                    <p>@item.optionName
                        <b class="caret"></b>
                    </p>
                </a>
            }
            else
            {
                <a class="nav-link" href="../examples/dashboard.html">
                    <i class="material-icons">@item.icon</i>
                    <p>@item.optionName</p>
                </a>
            }
            @if (child > 0)
            {
                <div class="collapse" id="@item.id" style="">
                    <ul class="nav">
                        @GetTreeView(permissions, item.id)
                    </ul>
                </div>
            }
        </li>
    }
}
