﻿@model IEnumerable<Template.Models.MenuViewModel>
@{
    Layout = null;
}
<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="#" class="simple-text logo-normal">
            DEMO
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            @TreeViewMenu.GetTreeView(Model.OrderBy(o => o.order).ToList(), Model.FirstOrDefault().childOf)
        </ul>
    </div>
</div>

